
<a routerLink='/patients'>Retour à la liste</a>
<h3>Patient Infos</h3>
<div class="row" *ngIf="!isEditable">
	<div class="col-sm-8 col-sm-offset-2">
		<h5>Last Name : {{patient.patientLastName }}</h5>
		<h5>First Name : {{patient.patientFirstName }}</h5>
		<h5>Birth Date : {{patient.patientBirthDate }}</h5>
		<h5>Gender : {{patient.patientGender }}</h5>
		<h5>Address : {{patient.patientAddress }}</h5>
		<h5>Phone Number : {{patient.patientPhoneNumber }}</h5>
		<h5>Email : {{patient.patientEmail}}</h5>
		<button class="btn btn-primary" [disabled]="isEditable" (click)="onEdit()">Edit</button>
		<button class="btn btn-danger" [disabled]="isEditable">Delete</button>
		<button *ngIf="isEditable" class="btn btn-success">Update</button>
	</div>
</div>

<h3>Patient History</h3>
<div class="row">
	<div class="col-sm-8 col-sm-offset-2">
		<app-single-patient-history></app-single-patient-history>
	</div>
</div>


<div class="row" *ngIf="isEditable">
	<div class="col-sm-8 col-sm-offset-2">
		<form (ngSubmit)="onSubmitForm(patientEditForm)" #patientEditForm="ngForm">
			<div class="form-group">
				<h3>Last Name : {{patient.patientLastName }} </h3>
				<input type="text" id="patientLastName" class="form-control" name="patientLastName"
					[(ngModel)]="patient.patientLastName">
			</div>
			<div class="form-group">
				<h3>First Name : {{patient.patientFirstName }} </h3>
				<input type="text" id="patientFirstName" class="form-control" name="patientFirstName"
					[(ngModel)]="patient.patientFirstName">
			</div>
			<div class="form-group">
				<h3>Birth Date : {{patient.patientBirthDate }} </h3>
				<input type="date" id="patientBirthDate" class="form-control" name="patientBirthDate"
					[(ngModel)]="patient.patientBirthDate">
			</div>
			<h3>Gender : {{patient.patientGender }}</h3>
			<select id="status" class="form-control" name="patientGender" [(ngModel)]="patient.patientGender">
				<option value="M">Male</option>
				<option value="F">Female</option>
			</select>
			<div class="form-group">
				<h3>Address : {{patient.patientAddress }} </h3>
				<input type="text" id="patientAddress" class="form-control" name="patientAddress"
					[(ngModel)]="patient.patientAddress">
			</div>
			<div class="form-group">
				<h3>Phone Number : {{patient.patientPhoneNumber }} </h3>
				<input type="text" id="patientPhoneNumber" class="form-control" name="patientPhoneNumber"
					[(ngModel)]="patient.patientPhoneNumber">
			</div>
			<div class="form-group">
				<h3>Email : {{patient.patientEmail }} </h3>
				<input type="text" id="patientEmail" class="form-control" name="patientEmail"
					[(ngModel)]="patient.patientEmail">
			</div>
			<button class="btn btn-danger" (click)="onCancelEdit()">Cancel</button>
			<button type="submit" *ngIf="isEditable" class="btn btn-success">Update</button>
		</form>
	</div>
</div>