#search {
	margin-inline-start: 1% ;
}
#searchButton {
	margin-inline-start: 1% ;
}
#patientsList {
	margin-top: 1%;
	
}#listLink {
	padding-left: 1%;
}
a {
	display:block;
	
}#clearButton {
	margin-inline-start: 1%;
}